<!-- login -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="login-contianer">
        <div class="login-healinh">
            <h1>Login</h1>
            <p>sigin your account to continue</p>
        </div>
        <div class="login-form">
            <label for="name"> your Name</label>
            <input type="text" id="name" placeholder="Enter your name">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
            <a href="#" class="forgot-password">forgot password?</a>

            <button type="submit" class="login-button">Login</button>
            <p class="signup-text">Don't have an account? <a href="#">Sign up</a></p>

        </div>
    </div>

</body>
</html>
<script src="../asset/js/login/login.js"></script>