//scss

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'components/header';
@import 'components/navagation';
@import 'components/currentWeather';



.container{
    display: flex;
    padding: 20px 0;
    margin: 0;
}

