

@media (max-width:840px){

    .toggle{
        display: block;
    }
    header {
        & .logo{
            & h2 {
                font-size: 20px;
            }
        }
        & form {
            width: 300px;
            gap: 8px;
        }
        & .toggle{
            font-size: 24px;
        }
    }

    nav,main{
        transition: all linear .3s;
    }
    nav{
        padding-top: 90px;
        left: -100%;
        width: 25%;
    }
    nav.active{
        left: 0;
    }
    main{
        position: relative;
        left: -10%;
    }
    main.active{
        left: 28px;
    }
    .current-weather-section{
        padding: 0;
    }
}

@media (max-width:430px){
    body{
        margin: 0;
        padding: 0;
    }
    form {
        position: fixed;
        top: 80px;
        left: 64px;
        // border: 2px solid grey;
        box-shadow: 0 0 8px grey;
    }
    main {
        width: 428px;
        margin: 0;
        left: 0;
        top: 30px;
        border-radius: 4px;
    }
    section {
        padding: 0;
        border-radius: 4px;
    }

    nav.active {
        width: 50%;
        z-index: 99999;
    }
    main.active{
        left: 0;
    }

    #concel-menu{
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        color: white;
        font-size: 24px;
    }
    th{
        font-size: 14px;
        font-weight: 500;
    }
    td{
        font-size: 12px;
        font-weight: 500;
    }
}